/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-image: url("img.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(25px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.container .card h2{
    font-size: 1.8rem;
    font-weight: 600;
    position: absolute;
    left: 50%;
    top: 25px;
    transform:translateX(-50%);
    color: white;
}

.username input{
    position: absolute;
    height: 40px;
    width: 75%;
    left: 50%;
    top: 100px;
    transform:translateX(-50%);
    border-radius: 20px;
    border-style: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-left: 20px;
}

.username input:focus {
    outline: none; /* removes the black border */
}


.username input::placeholder{
    color: white;
}

.username i{
    position: absolute;
    top: 111px;
    right: 70px;
    color: white;
}

.password input{
    position: absolute;
    height: 40px;
    width: 75%;
    left: 50%;
    top: 170px;
    transform:translateX(-50%);
    border-radius: 20px;
    border-style: none;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding-left: 20px;
}

.password input:focus {
    outline: none; /* removes the black border */
}


.password input::placeholder{
    color: white;
}

.password i{
    position: absolute;
    top: 181px;
    right: 70px;
    color: white;
}

/* FOR CHANGING THE WHOLE INPUTS SECTION */

.inputs{
    position: relative;
    
}

.remem{
    color: white;
    position: absolute;
    top: 240px;
    left:50px;
}

.remem label{
    font-size: 0.8rem;
    position: relative;
    left: 15px;
}

.remem input{
    height: 15px;
    position: absolute;

}

.text.up p{
    font-size: .8rem;
    position: absolute;
    right: 50px;
    top: 240px;
    color: white;
}

.login button{
    position: absolute;
    height: 40px;
    width: 75%;
    left: 50%;
    top: 280px;
    transform:translateX(-50%);
    border-radius: 20px;
    border-style: none;
    color: black;
}

.login button:hover{
    cursor: pointer;
}

.text.down {
    color: white;
    font-size: 0.76rem;
    position: absolute;
    bottom: 32px;
    /* left: 190px; */
    left: 50%;
    transform: translateX(-50%);
}

.text.down a{
    color: rgb(0, 153, 255);
}