
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    /* font-family: Arial; */
    box-sizing: border-box;
   font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.nav-logo{
    width: 130px;
    height:60px;
    padding: 15px 0px 0px 14px;
    display: flex;
    /* flex: 1; */
}

.logo{
    background-image: url("amazon2.png");
    background-size: 110px 34px;
    background-repeat: no-repeat;
    height: 40px;
    width: 100%;
}

/** box2 **/

.deliver{
    margin-top:2px;
    padding: 0px 20px 0px 0px;
}

.del{
    color: #cccccc;
    font-size: .85rem;
    margin: 10px 0px 0px 20px;
}

.ind{
    margin: 3px 0px 0px -0.5px;
}

.icon{
    display: flex;
    align-items: center;
    margin: -4px 0px 0px 0.5px;
}

/* box3 - searchbox */

.search{
    display: flex;
    width: 1100px;
    height: 40px;
    margin: 10px 0px 0px 0px;
    /* justify-content: space-evenly; */
    padding-right: 20px;

}

.search-icon{
    background-color: #d68f25;
    width: 50px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-select{
    background-color: #f3f3f3;
    width: 40px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-amazon{
    border: none;
    width: 100%;
}

/* Box4 Flag choose */

.lang{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px 0px 0px;
    padding: 0px 14px 0px 0px;
}

.flag{
    background-image: url("flag.png");
    background-size: cover;
    width: 29px;
    height: 20px;
    background-repeat: no-repeat;

}

.lan-style{
    color: white;
    font-weight: 800;
    border: none;
    background-color: #0f1111;
}

/* box4 accounts stuff */

.hello{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 20px;
}

.return{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 20px;
}

.up p{
    font-size: 0.8rem;
    font-weight: 400;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0px 0px 0px;
}

/* NAVBAR FINISHED */

.panel{
    background-color: #13263d;
    height: 40px;
    display: flex;
    align-items: center;
}

.menu{
    color: white;
    display: flex;
    padding-left: 35px;
    padding-bottom: 5px;
    padding-right: 20px;
    
}

.menu i{
    padding: 2.5px 4px 0px 0px;
    
}

.panel{
    display: flex;
    justify-content: space-evenly;
}

.panel-label{
    color: white;
    width: 80%;
    padding-bottom: 5px;
    padding-right: 20px;
    display: flex;
}

.panel-label p{
    padding-right: 20px;
}

.panel-right{
    color: white;
    padding-bottom: 5px;
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
}

/* HERO-SECTION STARTS */

/* .hero-section{
    background-image: url("img1.jpg");
    background-size: cover;
    height: 600px;
    width: 2000px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */

.hero-msg{
    background-color: rgb(255, 255, 255);
    width:100%;
    height: 40px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    margin-left: auto;
    padding-bottom: 5px;
    /* margin-bottom: 25px; */

}

.hero-msg a{
    color: #19a4db;
}

/* IMAGE SLIDER */

.slider-wrapper{
    /* padding: 10px; */
    position: relative;
    max-width: 150rem;
    /* max-height: 60rem; */
    /* margin: 0 auto; */

}

.slider{
    display: flex;
    position: relative;
    max-width: 150rem;
    /* aspect-ratio: 16/9; */
    overflow-x: auto;
    
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    /* box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25); */
    /* border-radius: 0.5rem; */
}


/* FOR HIDING THE SCROLL */
.slider::-webkit-scrollbar{
    display: none;
}


.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    /* object-fit: cover; */
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

/* FOR THREE DOTS */
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;

}

/* .box{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.box1{
    background-image: url("box11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin: 20px;
}

.box2{
    background-image: url("box22.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
    margin: 20px 0px 20px 0px;
}

.box2{
    background-image: url("box3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
} */

.box{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
    background-color: #9180c5;
}

.bo{
    margin-top: 25px;
    border: 2px solid black;
    height: 450px;
    width: 23%;
    background-color: white;
    
}

.box1-img{
    border: 2px solid black;
    background-image: url("game.jpg");
    width: 80%;
    height: 70%;
    background-size: cover;
    background-repeat: none;
    /* margin: 30px 30px 0px 40px; */
    margin: auto;
    margin-top: 25px;

}

.box1 h4{
    padding: 20px 0px 0px 40px;
}

.box1 p{
    /* margin: 0px 0px 20px 0px; */
    padding: 20px 0px 0px 40px;
}

/* BOX2 IMAGES */


.box2-img .o{
    border: 2px solid black;
    height: 145px;
    width: 42%;
    /* margin:auto; */
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 3px;
    
    
}

.box2-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* margin: auto; */
    /* gap: 20px; */
    padding: 0px 20px 0px 20px;
}

.box2 h4{
    padding: 23px 0px 0px 40px;
}

.box2 p{
    /* margin: 0px 0px 20px 0px; */
    padding: 20px 0px 0px 40px;
}

/* inserting image for above */

.b-one.o{
    background-image: url("box11.jpg");
    background-size: cover;
}

.b-two.o{
    background-image: url("box22.jpg");
    background-size: cover;
}

.b-three.o{
    background-image: url("box3.jpg");
    background-size: cover;
}

.b-four.o{
    background-image: url("box4.jpg");
    background-size: cover;
}

/* 3rd BOX */

.box3-img{
    border: 2px solid black;
    background-image: url("shop.jpg");
    width: 80%;
    height: 70%;
    background-size: cover;
    background-repeat: none;
    /* margin: 30px 30px 0px 40px; */
    margin: auto;
    margin-top: 25px;

}

.box3 h4{
    padding: 20px 0px 0px 40px;
}

.box3 p{
    /* margin: 0px 0px 20px 0px; */
    padding: 20px 0px 0px 40px;
}


/* 4TH BOX */



.box4-img .o{
    border: 2px solid black;
    height: 145px;
    width: 42%;
    /* margin:auto; */
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 3px;
    
    
}

.box4-img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* margin: auto; */
    /* gap: 20px; */
    padding: 0px 20px 0px 20px;
}

.box4 h4{
    padding: 23px 0px 0px 40px;
}

.box4 p{
    /* margin: 0px 0px 20px 0px; */
    padding: 20px 0px 0px 40px;
}

/* inserting image for above */

.d-one.o{
    background-image: url("d1.jpg");
    background-size: cover;
}

.d-two.o{
    background-image: url("d2.jpg");
    background-size: cover;
}

.d-three.o{
    background-image: url("d3.jpg");
    background-size: cover;
}

.d-four.o{
    background-image: url("d4.jpg");
    background-size: cover;
}


/* EFFECTS */

.box1 {
    transition: box-shadow 0.25s ease-in-out;
}

.box1:hover {
    box-shadow: 10px 10px;
}

.box2 {
    transition: box-shadow 0.25s ease-in-out;
}

.box2:hover {
    box-shadow: 10px 10px;
}

.box3 {
    transition: box-shadow 0.25s ease-in-out;
}

.box3:hover {
    box-shadow: 10px 10px;
}

.box4 {
    transition: box-shadow 0.25s ease-in-out;
}

.box4:hover {
    box-shadow: 10px 10px;
}


/* FOOTER */


.back{
    height: 50px;
    background-color: #13263d;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con ul{
    padding: 20px 0px 0px 0px;

}

.con p{
    padding-bottom: 10px;
}

.f-cont{
    display: flex;
    /* background-color: #9180c5; */
    height: 250px;
    justify-content: space-evenly;
    margin: 25px 0px 25px 0px;
    
}